* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	display: inline-block;
	height: auto;
	max-width: 100%;
}

.header {
	margin-left: 8vw;
	margin-right: 8vw;
	padding-left: 2vw;
	background-color: sandybrown;
}

.navbar {
	display: flex;
	gap: 1vw;
	background-color: navajowhite;
	border-radius: 6px;
	padding: 0.5vw;
	padding-left: 2vw;
	margin-left: 8vw;
	margin-right: 8vw;
	margin-bottom: 1vh;
	margin-top: 0.5vh;
}

.navbar a {
	text-decoration: none;
	color: black;
	font-family: "Roboto", sans-serif;
	font-size: clamp(0.5rem, 4vw, 1.5rem);
}

.footer {
	background-color: black;
	color: white;
	margin-left: 8vw;
	margin-right: 8vw;
	margin-top: 1vh;
	border-radius: 3px;
	padding: 50px;
	padding-top: 30px;
	font-family: "Roboto", sans-serif;
}

body {
	background-color: seashell;
}

.maincontain {
	display: flex;
	margin-left: 8vw;
	margin-right: 8vw;
}

.mainbody {
	display: inline-block;
	background-color: white;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 1vw;
	padding-bottom: 1vw;	
	border-radius: 12px;
	flex: 1;
}

.mainbody h1, .sidebar h1 {
	padding-bottom: 20px;
	font-family: "Roboto", sans-serif;
}

.mainbody p, .sidebar p {
	padding-bottom: 30px;
	font-family: "Archivo", sans-serif;
	line-height: 1.5;
}

.sidebar {
	display: inline-block;
	background-color: white;
	width: 30vw;
	border-radius: 12px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.image1 {
	position: relative;
}

.image1 .content {
	position: absolute;
	bottom: 0;
	background: rgba(255, 255, 255, 0.5);
	color: black;
	width: 100%;
	padding: 20px;
	font-size: 16px;
}

.jswarning {
	display: flex;
	align-items: center;
	border-style: solid;
	border-radius: 10px;
	border-color: gold;
	background-color: gold;
	color: dimgray;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
}

.jswarning-text {
	display: inline-block;
	padding: 10px;
}

.small-icon {
	width: 16px;
	display: flex;
	flex-shrink: 0;
	transform: translateY(-5px);
	margin-right: 0px;
	margin-left: 15px;
}

.title {
	font-family: "Bungee";
	font-size: clamp(4rem, 8vw, 6rem);
	margin: 0;
}

.comingsoon {
	font-family: "Roboto", sans-serif;
	font-size: clamp(2rem, 8vw, 9rem);
	text-align: center;
	margin-left: 8vw;
	margin-right: 8vw;
}